hostname {{ ansible_hostname }}

log file /var/log/frr/frr.log
service integrated-vtysh-config
line vty
frr version 7.0

debug bfd peer
debug bfd network
debug bfd zebra

debug bgp graceful-restart
debug bgp neighbor-events
debug bgp updates
debug bgp update-groups


router bgp {{ configs[config].bgp_asn }}
  bgp router-id {{ ansible_facts.default_ipv4.address }}
  bgp log-neighbor-changes
  bgp graceful-shutdown
  no bgp ebgp-requires-policy

{% for neighbor in configs[config].bgp_neighbors %}
  neighbor uplink-{{ loop.index }} peer-group
  neighbor uplink-{{ loop.index }} remote-as {{ neighbor.remote_as | default('external') }}
  neighbor uplink-{{ loop.index }} bfd
  neighbor uplink-{{ loop.index }} bfd profile lb
  neighbor uplink-{{ loop.index }} password {{ neighbor.password }}
  neighbor {{ neighbor.ip }} peer-group uplink-{{ loop.index }}
{% endfor %}

  address-family ipv4 unicast
    redistribute connected route-map vipsv4
  exit-address-family

  address-family ipv6 unicast
    redistribute connected route-map vipsv6
    neighbor uplink activate
  exit-address-family

ip nht resolve-via-default

bfd
  profile lb
    detect-multiplier 10
    transmit-interval 500
    receive-interval 500

{% for vip in vips_v4 %}
access-list vipsv4 seq {{ loop.index }} permit {{ vip }}/32
{% endfor %}

{% for vip in vips_v6 %}
access-list vipsv6 seq {{ loop.index }} permit {{ vip }}/128
{% endfor %}

{% if vips_v4 | length > 0 %}
route-map vipsv4 permit 1
  match ip address vipsv4
{% endif %}

{% if vips_v6 | length > 0 %}
route-map vipsv6 permit 1
  match ipv6 address vipsv6
{% endif %}
