hostname {{ ansible_hostname }}

log file /var/log/frr/frr.log
service integrated-vtysh-config
line vty
frr version 7.0

debug bfd peer
debug bfd network
debug bfd zebra

debug bgp graceful-restart
debug bgp neighbor-events
debug bgp updates
debug bgp update-groups


router bgp {{ configs[config].bgp_asn }}
  bgp router-id {{ ansible_facts.default_ipv4.address }}
  bgp log-neighbor-changes
  bgp graceful-shutdown
  no bgp ebgp-requires-policy

{% for neighbor in configs[config].bgp_neighbors %}
  neighbor uplink-{{ loop.index }} peer-group
  neighbor uplink-{{ loop.index }} remote-as external
  neighbor uplink-{{ loop.index }} bfd
  neighbor uplink-{{ loop.index }} bfd profile lb
  neighbor uplink-{{ loop.index }} password {{ neighbor.password }}
  neighbor {{ neighbor.ip }} peer-group uplink-{{ loop.index }}
{% endfor %}

  address-family ipv4 unicast
    redistribute connected route-map vip
  exit-address-family

  address-family ipv6 unicast
    redistribute connected route-map vip
    neighbor uplink activate
  exit-address-family

  address-family l2vpn evpn
    neighbor uplink activate
  exit-address-family

ip nht resolve-via-default

bfd
  profile lb
    detect-multiplier 10
    transmit-interval 500
    receive-interval 500

{% for vip in vips %}
access-list 7 seq {{ loop.index }} permit {{ vip }}/32
{% endfor %}

route-map vip permit 1
  match ip address 7
